{% extends 'base.html.twig' %}

{% block title %}Detalle de la tarea{% endblock %}

{% block body %}

    <div class="second">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    {% for message in app.session.flashbag().get('message') %}  
                        <div class="alert alert-success">
                            {{message}}
                        </div>
                    {%endfor%}
                    <div class="card-header">Detalle de la tarea</div>
                    <div class="card-body">
                         <h2>{{ task.title}} </h2>
                        <p class="data-task" >
                            {{ task.user.name }}, {{ task.user.surname }} | {{ task.createdAt|date("d/m/Y h:i") }}  | {{ task.priority }} | {{ task.hours }}h  </br>
                        </p>
                        <p  >
                            {{ task.content }}  </br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
